/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------FONTS--------------*/
/*----------------------------------*/
@font-face {
    font-family: "Lane";
    src: url('../fonts/lane.ttf');
}
@font-face {
    font-family: "Tug";
    src: url('../fonts/Tugano.otf');
}
/*----------------MAIN--------------*/
/*----------------------------------*/
body {
	line-height: 1.5em;
	font-family: "Lane";
}
p {
	margin-top: 15px;
}
.loading-screen {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 3;
	background-color: white;
}
.loading-wrench {
	position: absolute;
	margin-top: -29px;
	margin-left: -32px;
	left: 50%;
	top: 50%;
	color: #48280b;

	-webkit-animation: fa-spin .7s infinite linearr;
    -moz-animation: fa-spin .7s infinite linear;
    -ms-animation: fa-spin .7s infinite linear;
    -o-animation: fa-spin .7s infinite linear;
    animation: fa-spin .7s infinite linear;
    z-index: 1;
}
.overlay {
	background-color: #847159;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
}
.header-wrapper {
	overflow: hidden;
	background-image: url('images/construction-work-carpenter-tools.jpg');
	background-repeat: no-repeat;
	background-size: 200%;
	animation: panning 50s infinite linear;
}
	@keyframes panning {
	  0% {
	    background-position: 0% 0%;
	  }
	  25% {
	    background-position: 100% 100%;
	  }
	   50% {
	    background-position: 100% 0%;
	  }
	  75% {
	    background-position: 0 100%;
	  }
	  200% {
	    background-position: 0 0;
	  }
}
.scroll-arrow {
	position: absolute;
	left: 50%;
	top: 90%;
	margin-left: -25px;
	margin-top: -20px;
	border: 1px solid whitesmoke;
	height: 40px;
    width: 50px;
    z-index: 4;
    cursor: pointer;
}
	.arrow-line-container {
		position: relative;
	}
		.arrow-line {
			position: absolute;
			width: 1px;
			height: 30px;
			background-color: whitesmoke;
			top: 8px;
		}
		.line-1 {
			left: 16px;
			transform: rotate(-35deg);
		}
		.line-2 {
			right: 16px;
			transform: rotate(35deg);
		}
.header-image {	
    width: 100%;
}
.main-title {
	position: absolute;
	font-family: "Tug";
	color: white;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -219px;
	font-size: 50px;
	z-index: 2;
}
.main-wrapper {
	width: 100%;
}
.main-container {
	width: 1170px;
	margin: 0 auto;
}
.section-container {
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #c7c7c7;
}
.section-icon, .section-icon-mobile {
	margin-top: 100px;
	color: #48280b;
}
.section-icon-mobile {
	display: none !important;
}
.section-title {
	font-family: "Tug";
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 30px;
}
.product-container {
	margin: 0 auto;
}
.product-box {
	position: relative;
	margin-bottom: 10px;
	border: 1px solid #c7c7c7;
	cursor: pointer;
}
.product-box-1 {
	background-image: url("../images/photo-1.jpg");
	width: 255px;
	height: 400px;
}
.product-box-2 {
	background-image: url("../images/photo-2.jpg");
	width: 250px;
	height: 188px;
}
.product-box-3 {
	background-image: url("../images/photo-3.jpg");
	width: 250px;
	height: 141px;
}
.product-box-4 {
	background-image: url("../images/photo-4.jpg");
	width: 258px;
	height: 340px;
}
.product-box-5 {
	background-image: url("../images/photo-5.jpg");
	width: 240px;
	height: 320px;
}
.product-overlay {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #381c07;
	z-index: 1;
	opacity: 0;
}
.product-info {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	color: white;
	opacity: 0;
	z-index: 2;
}
/* ---------- RETINA QUERIES ---------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	
}

/* ---------- MEDIA QUERIES ---------- */ 

@media (max-width: 1200px) {
	.container {
		width: 980px;
	 }
}
@media (max-width: 980px) {
  	.container {
    	width: 768px;
  	}

}
@media (max-width: 767px) {
  	.container {
	    box-sizing: border-box;
	    width: 100%;
	    padding: 0 15px;
 	}
 	.header-wrapper {
 		background-size: cover;
		animation: none;
 	}
 	.main-title {
 		font-size: 35px;
 		margin-left: -153px;
 		margin-top: -12px;
 	}
 	.section-title {
 		font-size: 25px;
 	}
 	.section-icon-mobile {
		display: inline-block !important;
	}
	.section-icon {
		display: none !important;
	}

}
@media (max-width: 480px) {
	.container {
		width: 100%;
	    padding: 0 15px;
	}
}